name: tag-release

on:
  push:
    branches:
      - master
      - 'release-*'
    paths:
      - version.txt

permissions:
  contents: read

jobs:
  tag:
    if: ${{ github.repository == 'kubernetes/cloud-provider-aws' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - run: /usr/bin/git config --global user.email actions@github.com
      - run: /usr/bin/git config --global user.name 'GitHub Actions Release Tagger'
      - run: hack/tag-release.sh
        id: tag_release
    outputs:
      release_tag: ${{ steps.tag_release.outputs.release_tag }}